In [2]:
#que 1
def maxx(a,b,c):
  if a>b and a>c:
    return a
  elif b>a and b>c:
    return b
  else:
    return c
print(maxx(20,35,19))

35

In [3]:
#que 2
def summ(a,b):
  return a + b, a-b
print(summ(40,10))

(50, 30)

In [5]:
# que3
liste= [1,2,3,4,5,6,6,7,8]

def sum (aaa):
  sum=0
  for i in aaa:
    sum +=i
  return sum

print(sum(liste))

def mult(bb):
  mult =1
  for i in bb:
    mult *= i
  return mult
print(mult(liste)) 


even =[]
odd = []
for i in range(len(liste)):
  if i % 2 ==0:
    even.append(liste[i])
  else:
    odd.append(liste[i])  

print(sum(even))    
print(mult(odd))

42
241920
23
336

In [6]:
#que4
x="green,red,yellow,black,white"
y=x.split(",")
y.sort()
print("," .join(y))

black,green,red,white,yellow

In [8]:
#que5
def di(D):
  return int(((2 * 50 * D)/30)**0.5)
x=input().split (",")

for i in x:
  print(di(int(i)), end=" ")

100,150,180
18 22 24