In [ ]:
ques 1
x=(2,3,6)
sum=1
for i in x:
  sum= sum * i 
print(sum )

36

In [ ]:
ques 2
#sample list : [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]

#Expected result : [(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

x=[(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
for k in range(len(x)-1):
  for i in range(len (x)-1):
    if x[i][1] > x[i+1][1]:
      x[i],x[i+1] = x[i+1],x[1]
print(x)

[(2, 1), (2, 1), (1, 2), (1, 2), (1, 2)]

In [5]:




d1 = {'a': 100, 'b': 200, 'c':300}

d2 = {'a': 300, 'b': 200, 'd':400}

d3 = dict(d1)
d3.update(d2)


for x,y in d1.items():
  for h,a in d2.items():
    if x==h:
      d3[x]=(y+a)
print(d3)

{'a': 400, 'b': 400, 'c': 300, 'd': 400}

In [23]:
from re import I
#que 4
x = int(input())
d1={}
for i in range(1,x+1):
  e=i*i 
  d1[i]=e
print(d1)

8
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [9]:
#question5
# [('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]

# [('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]

x = [('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]
for k in range(len(x)-1):
  for i in range(len (x)-1):
    if float(x[i][1]) < float(x[i+1][1]):
      x[i],x[i+1] = x[i+1],x[1]
print(x)

[('item3', '24.5'), ('item3', '24.5'), ('item2', '15.10')]